<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eeda123"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="com.eeda123.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.eeda123.ui.EedaActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/SplashTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.eeda123.ui.HomeActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.eeda123.ui.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.eeda123.ui.IndexActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.eeda123.ui.transferOrder.SearchTransferOrderActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.eeda123.ui.transferOrder.SearchResultActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.eeda123.ui.gateOut.SearchBarcodeActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.eeda123.ui.gateOut.SearchResultActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        
        <activity
            android:name="com.eeda123.ui.CategoryActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.eeda123.ui.CartActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.eeda123.ui.PersonalActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.eeda123.ui.SearchActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Present"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.eeda123.ui.LoginActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.eeda123.ui.RegisterActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.eeda123.ui.RegisterBormalActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.eeda123.ui.MoreActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.eeda123.ui.IndexShakeActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.eeda123.ui.IndexClothingActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.eeda123.ui.IndexDigtalActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.eeda123.ui.IndexDaily"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.eeda123.ui.IndexEbookActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.eeda123.zxing.CaptureActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" >
        </activity>
        <activity 
            android:name="com.eeda123.zxing.CaptureResultActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>